/*  белый primary-white-color: #ffffff;*/
/* --Цвет основного текста title-text-color #212121*/
/* primary-text-color #757575*/
/*accent-color #2196f3*/
/*цвета ШАПКИ:
логотип #000000;#2196F3
навигация на др. страницы #212121 #2196F3*/
/*цвет фона секции "Эффект. решения": #2F303A*/
/* цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA*/
/*secondary-text-color*/

:root {
   --main-font: "Roboto",sans-serif;
   --logo-font: "Raleway",sans-serif;
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196f3;
   --primary-white-color: #ffffff;
   --background-dark-theme: #2F303A;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

.body-page {
    font-family: var(--main-font);
    font-style: normal;
    background-color:#E5E5E5;
    /*color: var(--primary-text-color);*/
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
.link {
    text-decoration: none;
  }

.address {
    font-style: normal;
}

.section {
    padding: 94px 0;
  }
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px solid tomato;*/
  }
  
 .img {
      display:block;
  }
/*  ============ COMPONENTS  ============ */
.modal-btn {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.subtitle {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }

.title {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }

.logo-web,
.logo-studio {
    display: inline-block;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

 .logo-web {
    display: block;
    color: var(--accent-color);
 }

 .logo-studio {
    color: var(--title-text-color);
 }

/*  ============ END COMPONENTS  ============ */


/*  ============ HEADER  ============ */
 .header .logo-web {
     padding-top: 24px;
     padding-bottom: 25px;
 }


.header {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
}

.portfolio-page {
    border-bottom: 1px solid #ececec;
}

.header .container {
display: flex;
justify-content: space-between;
}
/* Navigation on other pages */
.nav {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav-item:not(:last-child) {
margin-right: 50px;
}
.site-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus,
.current {
    color: var(--accent-color);
}

.auth-nav {
display: flex;
align-items: center;
}

.auth-nav-phone {
margin-left: 50px;
}
.auth-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.auth-nav-link .current {
    color: var(--accent-color);
}

/*  ============ END HEADER  ============ */

/*  ============ HERO ==> SOLUTIONS ============ */

.solutions {
    padding-top: 200px;
    padding-bottom: 200px;
 background-color: var(--background-dark-theme);
}

.solutions-content {
max-width: 700px ;
margin: 0 auto;
text-align: center;
}

.solutions-title {
    margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
}

/*  ============ END HERO ==> END SOLUTIONS ============ */

/*  ============ OUR ADVANTAGES ============*/

.advantages {
    padding-top: 94px;
}

.advantages-list {
    display: flex;
}

.advantages-list-item {
    width: 270px;
}

.advantages-list-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list-subtitle {
    margin-bottom: 10px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantages-list-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*  ============END OUR ADVANTAGES ============*/

/*  ============ ABOUT US  ============ */
.about-us-list {
    display: flex;
}

.about-us-list-item:not(:last-child) {
    margin-right: 30px;
}

/*  ============ END ABOUT US  ============ */

/*  ============ OUR TEAM  ============ */
.team {
    background: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-list-item {
    box-shadow: rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
    margin-right: 30px;
}

.team-list-description {
    padding: 30px 20px;
}

.team-list-subtitle {
    margin-bottom: 10px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19x;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-list-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);  
}
/*  ============ END OUR TEAM  ============ */
/*  ============ OUR WORKS  ============ */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
    display: inline-block;
    min-width: 128px;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color:#F5F4FA;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
}

.works-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

..works-list-item:not(:nth-child(n+4)) {
    margin-bottom: 30px;
}

.works-description {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left:  1px solid #eeeeee;
}

.works-subtitle {
    margin-bottom: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.works-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*  ============ END OUR WORKS  ============ */
/*  ============ FOOTER  ============ */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  background-color: var(--background-dark-theme); 
}

.address {
    margin-top: 20px;
}

.footer-auth-nav-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.logo-studio-light-theme {
    color: var(--primary-white-color);
}

.footer-auth-nav-link-map {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
 }

 .footer-auth-nav-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
 }

 .footer-auth-nav-link-map:hover,
 .footer-auth-nav-link-map:focus,
 .footer-auth-nav-link:hover,
 .footer-auth-nav-link:focus {
    color: var(--accent-color);  
 }
/*  ============ END FOOTER  ============ */

/*Панель кнопок меню фильтра Наши работы*/

.button:hover {
    font-family: inherit;
}

